<p><img src="https://i.ibb.co/XYwRb4t/download.png" width="100%" style="border:0;"></p>
<p style="color:black;">Dear {{customer_name}},</p>
<p style="text-align:justify; color:black;">Welcome to GMarket, your go-to destination for a seamless online shopping experience!</p>
<p style="text-align:justify; color:black;">Here is your One-Time Password (OTP): <b>{{otp_code}}</b></p>
<a href="http://localhost:3000/api/v1/mail/verify/email?verify={{otp_code}}&email={{to_mail}}">
    <button style="padding:10px;border-radius:10%;background-color:skyblue;white-space:nowrap;color:black;font-weight:bold;">
        <b>Verify now</b>
    </button>
</a>
<p style="text-align:justify; color:black;">Please note that this OTP is valid for a limited time, so we recommend verifying your account at your earliest convenience.</p>
<p style="text-align:justify; color:black;">Thank you for choosing GMarket! We look forward to serving you and providing you with an exceptional online shopping experience.</p>
<p style="color:black;">&nbsp;</p>
<p style="color:black;">Best regards,</p>
<p style="color:black;">The GMarket Team&nbsp;</p>
